/*
General utility
*/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

@media (max-width: 39.99rem) {
    .column-100-mobile {
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    /*
    Milligram changes rows to flex-direction:column on mobile.
    When I have column-75 etc, they don't become full width. This fixes that.

    Not sure if I'm mis-using milligram grid system at this point. TODO: ask.
    */
    /*.row .column {*/
        /*flex: 1 !important;*/
        /*max-width: 100% !important;*/
    /*}*/
}

/*
Components
*/
#callout {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 200px;
    height: 3rem;
    padding: 0.25rem;
    text-align: center;

    background: #9b4dca;
    color: white;
}

#callout a {
    color: white;
}

.hero {
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
@media (max-width: 40.00rem) {
    .hero {
        height: auto;
    }
}
.hero p {
    margin-bottom: 0.25rem;
}

blockquote.error {
    border-color: #CA4D4D;
}

/*
Buttons
*/
.button.button-block {
    width: 100%;
}

.button.button-twitter {
    background-color: #55acee;
    border-color: #55acee;
}

/*
Lists
*/
.list-repos {
    list-style: none;
    padding-left: 0;
}

.list-repos .list-item {
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}

.list-repos .button {
    float: left;
    padding: 0 2rem;
}

.list-repos .button:not(last-child) {
    margin-right: 3px;
}